@charset "UTF-8";

/* Load Glyphicons Font */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* STYLE WATCH */

/* #4A7EFF blue */
/* #5A91FF blue hover */
/* #2F251C brown */
/* #0C3DD1 dark-bright-blue */


/******************************************************************
				BODY & TEXT
/*****************************************************************/

body{
	font-family: 'Josefin Sans', sans-serif;
	font-weight:300;
}

h1{
	font-size:60px;
	color:#FFF;
}

h2{
	font-size:38px;
	/*color:#FCE8D9;*/
	color:#FFF;
	margin-top:0px;
	font-weight:400;
}

h3{
	font-size:24px;
	font-weight:300;
	color:#FFF;
	margin:0px;
}

h4{
	font-size:14px;
	color:#0C3DD1;
	font-weight:400;
}

h5{
	font-size:24px;
}

h6{
	font-size:24px;
}

.column-text{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.padding-top-header{ /* padding titel top*/
	padding-top:18%;
}

h2.subtitle-head{
	letter-spacing:0px;
	line-height:105px;
	font-weight:300;
	font-size:75px;
	margin-bottom:0%;
	display:inline;
}

h2.subtitle-head span{
	padding: 0.2em;
	background-color: rgba(0,0,0,0.6);
}

.subtitle-sub-head{
	margin-top:0.5%;
	margin-bottom:2.5%;
}

.subtitle-sub-head span{
	padding: 0.2em;
	background-color: rgba(0,0,0,0.6);
}

.navigation-title{
	font-size:18px;
	margin-bottom:0px;
}

.slide-caption{
	margin-left:50px;
}

/******************************************************************
                GLOBAL CSS
/*****************************************************************/
.copy-text{
	color:#FFF;
	font-size:14px;
	text-align:right;
	margin-top:15px;
}

.right {
	float: right;
}

/******************************************************************
				HEADER/MENU
/*****************************************************************/

.navbar-brand{
	padding-top:5px;
	padding-bottom:0;
}

.navbar.navbar-default{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:50px;
	padding-right:50px;
	border:none;
	border-bottom:1px solid #0C3DD1;
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-default .navbar-nav li a{
	color:#FFF;
	letter-spacing:1px;
	font-weight:400;
	font-size:14px;
}

.navbar-default .navbar-nav li a:hover{
	color:#0C3DD1;
	transition:ease 0.5s;
}

.menu-bullet{
	border-radius:100%;
	background-color:#FFF;
	width: 5px;
	display:inline-block;
	height: 5px;
    float:left;
	margin-top:3.2%;
}

.navbar-toggle{
	border:none;
}

.navbar-nav{
	text-align:center;
}

.navbar.navbar-default{
	padding-left:0px;
	padding-right:0px;
}

.navbar-brand>img{
	width:200px;
	padding-top:5px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:none;
}

.navbar-toggle .icon-bar{
	border-radius:0px;
}

.logo-center {
	position: absolute;
	top: 50%;
	left: 50%;
    margin-left: -150px;
}

.menu-center {
    margin-left: 250px;
}

/******************************************************************
				FULL SCREEN IMAGE/VIDEO
/*****************************************************************/

.home-slide{
	background-image:url(../images/full-screen-slides/home-slide-1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 90%;
}

.yachtdesign-slide{
	background-image:url(../images/full-screen-slides/home-slide-2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 40%;
}

.interior-slide{
	background-image:url(../images/full-screen-slides/home-slide-3.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 20%;
}

.naval-architect-slide{
	background-image:url(../images/full-screen-slides/home-slide-4.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.news-slide{
	background-image:url(../images/full-screen-slides/home-slide-5.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.contact-slide{
	background-image:url(../images/full-screen-slides/home-slide-3-test.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.project-1-1{
	background-image:url(../images/yachtdesign/CDRD-greenhouse-1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.project-1-2{
	background-image:url(../images/yachtdesign/CDRD-greenhouse-2.jpg);	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 75%;
}

.project-1-3{
	background-image:url(../images/yachtdesign/CDRD-greenhouse-3.jpg);	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 75%;
}

.project-1-4{
	background-image:url(../images/yachtdesign/CDRD-greenhouse-4.jpg);	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 75%;
}


.overzicht-slide{
	background-color:#000;
}

/******************************************************************
				YACHTDESIGN
/*****************************************************************/


/******************************************************************
				BUTTONS
******************************************************************/

.btn-default{
	background-color:#0C3DD1;
	border-radius:0px;
	font-weight:300;
	color:#FFF;
	border:none;
	padding-left:50px;
	padding-right:50px;
	font-size:14px;
	letter-spacing:1px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.btn-default:hover{
	background-color:#4A7EFF;
	color:#FFF;
	transition:ease-in 0.5s;
}

/******************************************************************
				SOCIAL MEDIA
/*****************************************************************/

#social-slide{
	width:auto;
	padding-top:40px;
	padding-bottom:40px;
	display:inline-block;
	float:left;
	/*background-color:#2F251C;*/	/* dark brown */
	/*background-color:#FCE8D9;*/	/* beige */
	background-color:#5B4739;		/* light brown */
	margin-bottom:25px;
}

#social-slide .container{
	padding-left:50px;
	padding-right:50px;
}

.social-menu{
	display:inline-block;
	list-style-type:none;
	float:left;
	margin-top:15px;
	margin-bottom:0;
}

.social-menu li{
	display:inline-block;
	margin-right:10px;
}

.social-menu .last-social{
	margin-right:0px;
}

/******************************************************************
				SUBSCRIBE
/*****************************************************************/


#subscribe-slide{
	width:auto;
	height:auto;
	float:left;
	background-color:#FFF;
	padding-top:35px;
	padding-bottom:35px;
}

#subscribe-slide p{
	margin-top:0;
}

.left-col-subscirbe{
	border-right:1px solid black;
	vertical-align:middle;
	padding-right:60px;
}

.right-col-subsribe{
	padding-left:60px;
}

#subscribe-form{
	width:auto;
	margin-top:25px;
}

#subscribe-form .form-control{
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	font-style:italic;
	width:50%;
	height:40px;
	border:1px solid #2F251C;
	float:left;
	display:inline-block;
	outline-style:none;
	border-radius:0;
	margin-right:2%;
	box-shadow:none;
}

#subscribe-form .form-control:focus {
	color:#d6ad81;
}

#subscribe-button{
	height:40px;
	width:24%;
	font-family: 'Josefin Sans', sans-serif;
	font-size:14px;
	color:#2F251C;
	border:1px solid #2F251C;
	float:left;
	display:inline-block;
	cursor:pointer;
	background-color:#FFF;
	outline-style: none;
}

#subscribe-button:hover{
	color:#d6ad81;
}

/******************************************************************
				SLIDER
/*****************************************************************/

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}

.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.controls
{
    margin-top: 20px;
}

[data-slide="prev"]
{
    margin-right: 10px;
}

.description {
	margin-top: 10px;
	color: white;
	font-size: 15px;
}

#models-carousel {
    margin-bottom: 20px;
    margin-top: 30px;
}

/******************************************************************
				FOOTER
/*****************************************************************/

#footer{
	height:auto;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	padding-top:10px;
	padding-bottom:15px;
}

#footer .container-fluid{
	padding-left:50px;
	padding-right:50px;
}

.footer-menu{
	list-style:none;
	padding:0;
	padding-top:8px;
	margin:0;
	float:left;
	margin-left:40%;
}

.footer-menu li{
	margin-right:15px;
	display:inline-block;
	float:left;
}

.footer-menu li a{
	text-decoration:none;
	color:#000;
	letter-spacing:2px;
	font-weight:400;
}

.footer-menu li a:hover{
	color:#B7B7B7;
}

#moveRight{
	Cursor:pointer;
}

#moveLeft{
	Cursor:pointer;
}

#moveUp{
	Cursor:pointer;
}

#moveDown{
	Cursor:pointer;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1350px) {


}

@media only screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.menu-bullet{
		display:none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
